.main{
   
}

.main h1{
    color: rgb(178, 147, 193);
    font-size: 3rem;
    text-align: center;
}


.style1{
    color:blue;
    background-color: yellow;
}


.style2{
    color:yellow;
    background-color: blue;
}