.main{
    text-align: center;
}

.main h1{
    color: darkorchid;
    font-size: 3rem;
}


.style1{
    color:blue;
    background-color: yellow;
}


.style2{
    color:yellow;
    background-color: blue;
}