<div class="text-center">
  <h1 class="diaplsy-1">Welcome to Angular</h1>
  <app-form-edit-demo />
  <!-- <button class="btn btn-success" (click)="usernameUserviceObj.setUsername('ravi')">Change Username</button>
  <div class="row">
    <div class="col-sm-6"><app-one /></div>
    <div class="col-sm-6"><app-two /></div>
  </div> -->

  <!-- <h1 class="text-info display-2">Welcome to Angular</h1>
  <h1>x is {{ parentData }}</h1>
  <button (click)="dataServiceObj.changeX(200)">
    Change X from Root component
  </button> -->

  <!-- nest Test1 -->

  <!-- <app-child1 />

  <app-child2 /> -->
</div>


